<div class="aaa_pts_left_1" onclick="left_open(this,'zh')">综合管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="zh">
 <ul class="aaa_pts_left_2">
   <li>
       <a href="{:U('More/pweb_gl')}" target="iframe">前台管理</a>
   </li>
   <!-- <li>
       <a href="{:U('More/indexpro')}" target="iframe">首页推荐产品</a>
   </li> -->
   <li>
       <a href="{:U('More/setup')}" target="iframe">小程序配置</a>
   </li>
   <li>
       <a href="{:U('More/fankui')}" target="iframe">用户反馈</a>
   </li>
 </ul>
</div>

<div class="aaa_pts_left_1" onclick="left_open(this,'user')">会员管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="user">
   <ul class="aaa_pts_left_2">
     <li><a href="{:U('User/index')}" target="iframe">会员管理</a></li>
     <li><a href="{:U('User/delindex')}" target="iframe">黑名单管理</a></li>
   </ul>
</div>

<div class="aaa_pts_left_1" onclick="left_open(this,'auth')">实名认证管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="auth">
   <ul class="aaa_pts_left_2">
     <li><a href="{:U('User/auditlist')}" target="iframe">待审核</a></li>
     <li><a href="{:U('User/audited')}" target="iframe">已审核</a></li>
   </ul>
</div>

<div class="aaa_pts_left_1" onclick="left_open(this,'cz')">会员充值管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="cz">
   <ul class="aaa_pts_left_2">
     <li><a href="{:U('User/cashlist')}" target="iframe">押金充值记录</a></li>
     <li><a href="{:U('User/amountlist')}" target="iframe">余额充值记录</a></li>
   </ul>
</div>

<!-- <div class="aaa_pts_left_1" onclick="left_open(this,'nav')">分类管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="nav">
 <ul class="aaa_pts_left_2">
   <li>
       <a href="{:U('Category/add')}" target="iframe">添加分类</a>
   </li>
   <li>
       <a href="{:U('Category/index')}" target="iframe">分类管理</a>
   </li>
 </ul>
</div> -->

<div class="aaa_pts_left_1" onclick="left_open(this,'brand')">车型管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="brand">
 <ul class="aaa_pts_left_2">
   <li>
       <a href="{:U('Brand/add')}" target="iframe">添加车型</a>
   </li>
   <li>
       <a href="{:U('Brand/index')}" target="iframe">车型管理</a>
   </li>
 </ul>
</div>

<!-- <div class="aaa_pts_left_1" onclick="left_open(this,'car')">会员车库管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="car">
 <ul class="aaa_pts_left_2">
   <li>
       <a href="{:U('User/carindex')}" target="iframe">会员车库管理</a>
   </li>
 </ul>
</div> -->

<div class="aaa_pts_left_1" onclick="left_open(this,'order')">订单管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="order">
 <ul class="aaa_pts_left_2">
   <li>
       <a href="{:U('Order/index')}" target="iframe">全部订单</a>
   </li>
 </ul>
</div>

<!-- <div class="aaa_pts_left_1" onclick="left_open(this,'news')">资讯管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="news">
 <ul class="aaa_pts_left_2">
   <li>
       <a href="{:U('News/add')}" target="iframe">添加资讯</a>
   </li>
   <li>
       <a href="{:U('News/index')}" target="iframe">资讯管理</a>
   </li>
 </ul>
</div> -->

<!-- <div class="aaa_pts_left_1" onclick="left_open(this,'voucher')">优惠券管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="voucher">
 <ul class="aaa_pts_left_2">
    <li>
       <a href="{:U('Voucher/add')}" target="iframe">添加优惠券</a>
   </li>
   <li>
       <a href="{:U('Voucher/index')}" target="iframe">优惠券管理</a>
   </li>
 </ul>
</div> -->


<div class="aaa_pts_left_1" onclick="left_open(this,'advertisement')">广告管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="advertisement">
 <ul class="aaa_pts_left_2">
   <li>
      <a href="{:U('Guanggao/index')}" target="iframe">广告管理</a>
   </li>
   <li>
    <a href="{:U('Guanggao/add')}" target="iframe">添加广告</a>
   </li>
 </ul>
</div>

<div class="aaa_pts_left_1" onclick="left_open(this,'log')">报警日志管理</div>
<div class="aaa_pts_left_3" style="display:none;" id="log">
 <ul class="aaa_pts_left_2">
   <li>
      <a href="{:U('More/logindex')}" target="iframe">报警日志记录</a>
   </li>
 </ul>
</div>