<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="__PUBLIC__/ht/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/ht/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/ht/js/action.js"></script>
</head>
<body>
<div class="aaa_pts_show_1">【 报警日志管理 】</div>
<div class="aaa_pts_show_2">
    <div class="aaa_pts_3">     
      <table class="pro_3">
         <tr class="tr_1">
            <td style="width:110px;">充电桩ID</td>
            <td>报警信息</td>
            <td style="width:120px;">报警时间</td>
            <td style="width:180px;">操作</td>
         </tr>
         <tbody id="news_option">
           <!-- 遍历 -->
           <volist name="list" id="v">
             <tr data-id="{$v.id}" data-name="{$v.name}">
               <td>{$v.plcid}</td>
               <td>{$v.info}</td>
               <td>{$v.warn_time}</td>
               <td class="obj_1">
                <a onclick="del_id_url2({$v.id})">删除</a>
               </td>
             </tr>
           </volist>
           <!-- 遍历 -->
         </tbody>
         <tr>
            <td colspan="10" class="td_2">
              {$page_index}
            </td>
         </tr>
      </table>      
    </div>
    
</div>
<script>
//搜索的方法
function product_option(page){
  window.location.href='?page='+page+'&message='+$("#message").val()
}

function del_id_url2(id){
   if(confirm("您确定要删除吗？"))
   {
    location='{:U("logdel")}?did='+id;   
   }
}
</script>
</body>
</html>